/**

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
    + About / Skills
    + Resume
    + Counter
    + Services
    + Portfolio
    + testimonel
    + Blog
    + Contact
    + Footer

**/
/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
/** THEME COLOR **/
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}

button {
  background: inherit;
  border: none;
}

.clearfix {
  overflow: hidden;
}

/*---- position ----*/
.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}

/*---- parallax ----*/
.parallax {
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
  background-size: cover;
}

/*---- bg half ----*/
.bg-image-half {
  position: absolute;
  height: 100%;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
}

/* ----- vertical middle align ----*/
.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/*---- Overlay ----*/
.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* ----- shadow ----*/
.box-shadow-1 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.box-shadow-2 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.box-shadow-3 {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

/* ----- Buttons ----*/
.button {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  padding: 8px 12px;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button:hover {
  color: #2e353e;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button-hot {
  background-color: #f8408c !important;
  color: #fff;
}
.button-hot:hover {
  background-color: #fff !important;
  color: #111 !important;
}

.button-dark {
  background-color: #2e353e !important;
}

.button-light {
  background-color: #EEE;
  color: #333;
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  background: #2e353e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: #2e353e;
}

.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #2e353e;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*----- Custom border -----*/
.border-t {
  border-top: 1px solid #f1f1f1;
}

.border-b {
  border-bottom: 1px solid #f1f1f1;
}

.border-l {
  border-left: 1px solid #f1f1f1;
}

.border-r {
  border-right: 1px solid #f1f1f1;
}

.border-none {
  border: none !important;
}

.border-t-none {
  border-top: none !important;
}

.border-l-none {
  border-left: none !important;
}

.border-b-none {
  border-bottom: none !important;
}

.border-r-none {
  border-right: none !important;
}

/*----- Custom border-radius -----*/
.radius-1 {
  border-radius: 1rem;
}

.radius-1-2 {
  border-radius: 1.2rem;
}

.radius-1-5 {
  border-radius: 1.5rem;
}

.radius-2 {
  border-radius: 2rem;
}

.radius-2-2 {
  border-radius: 2.2rem;
}

.radius-2-5 {
  border-radius: 2.5rem;
}

.radius-3 {
  border-radius: 3rem;
}

.radius-50 {
  border-radius: 50%;
}

.radius-none {
  border-radius: none !important;
}

/***************************************************************
      Custom Padding / Margins / Fonts/ Social Media
***************************************************************/
.p-l-0 {
  padding-left: 0 !important;
}

/* Custom Margin Top */
.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0 !important;
}

.mbl-0 {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.mbr-0 {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-62 {
  margin-top: 62px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

/* Custom Margin Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-62 {
  margin-bottom: 62px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

/*----- Custom Padding -----*/
.section-padding {
  padding: 30px 0 !important;
}

.p-0 {
  padding: auto 0 !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.no-padding {
  padding: 0 !important;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Preloader
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------
                     phone & tablet
-------------------------------------------------------- */
@media (max-width: 767px) {
  .xs-mb-50 {
    margin-bottom: 50px;
  }

  .xs-mb-70 {
    margin-bottom: 70px !important;
  }

  .product .item .part-img {
    width: 300px !important;
  }

  .footer .block {
    margin-bottom: 30px;
  }
  .footer .footer-bottom {
    margin: auto !important;
    text-align: center !important;
  }
  .footer .footer-bottom .custom-block {
    display: block !important;
    margin: 30px auto !important;
  }

  .wishlist ul li {
    padding: 5px !important;
  }
  .wishlist ul li h4 {
    font-size: 14px;
  }
  .wishlist ul .product-name {
    width: 30% !important;
  }
  .wishlist ul .product-name img {
    width: 100px;
    border-radius: 4px;
    margin-right: 5px;
  }
  .wishlist ul .product-name h4 {
    font-size: 14px;
  }

  .shopping-cart .shopping-content ul .qty {
    padding: 5px !important;
  }
  .shopping-cart .shopping-content ul .item div {
    padding: 10px 10px 5px !important;
  }
  .shopping-cart .shopping-content ul .item .pro-item img {
    width: 60px !important;
  }
  .shopping-cart .shopping-content ul .item .price {
    font-size: 16px !important;
    margin-right: 70px !important;
  }
}
@media (max-width: 991px) {
  .sm-mb-50 {
    margin-bottom: 50px !important;
  }

  .sm-mb-80 {
    margin-bottom: 80px !important;
  }

  .nav-header .lest {
    display: none !important;
  }
  .nav-header .lest-sm {
    display: inline-block !important;
  }

  nav .navbar-brand {
    position: static !important;
    padding: 0 15px;
    border: none !important;
    width: 60px !important;
    height: 30px !important;
  }
  nav .navbar-brand img {
    width: 100%;
    background-color: #fff;
  }

  ul.dropdown-menu.megamenu-content .col-menu {
    text-align: left !important;
    margin: auto;
  }
  ul.dropdown-menu.megamenu-content .col-menu a img {
    display: inline-block !important;
    width: 25px !important;
  }

  .footer .footer-bottom address {
    margin: 15px auto !important;
    float: none !important;
    text-align: right;
    font-size: 14px !important;
  }

  .login .account-login .new-account .bbtn {
    position: static !important;
    margin-bottom: 30px;
  }

  .wishlist ul li {
    padding: 10px !important;
  }

  .sidebar-account {
    margin-bottom: 30px !important;
  }
}
/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
body {
  overflow-x: hidden !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  color: #333;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/** THEME COLOR **/
p {
  line-height: 1.5;
  font-size: 15px;
  color: #333;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
}

.section-bg {
  position: absolute;
  left: -5%;
  color: #bdb3b3;
  font-size: 60rem;
  opacity: .1;
  z-index: -1;
}

.section-border {
  border-bottom: 1px solid #e2baca;
}

/*---- section title----*/
.section-title {
  position: relative;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.section-title h3 {
  position: relative;
  color: #333;
  font-size: 35px;
  text-shadow: 3px 3px 0 rgba(223, 223, 223, 0.1);
  padding-bottom: 15px;
  font-family: 'Lobster', cursive;
}

.sub-title h3 {
  color: #f8408c;
  color: #333;
  font-size: 35px;
  text-shadow: 3px 3px 0 rgba(223, 223, 223, 0.1);
  padding-bottom: 15px;
  font-family: 'Lobster', cursive;
}

hr.section {
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
}

.active {
  color: #f8408c !important;
}

/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */
nav {
  position: relative;
  border-bottom: 7px solid #e2baca !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
nav li a {
  color: #333 !important;
}
nav li.dropdown ul.dropdown-menu {
  border-top: 7px solid #f8408c !important;
}
nav li.dropdown ul.dropdown-menu li a {
  text-align: left !important;
}
nav li.dropdown ul.dropdown-menu li a img {
  display: inline-block;
  width: 20px;
}
nav li.dropdown ul.dropdown-menu li a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
nav .nav-header {
  background-color: #f8408c;
  padding: 10px 0 0;
}
nav .nav-header p {
  display: inline-block;
  padding: 0 15px;
  color: #fff;
  font-size: 12px;
}
nav .nav-header .dropdown {
  padding: 0 10px;
  font-size: 13px;
  border: none;
}
nav .nav-header .lest-sm {
  display: none;
}
nav .nav-header .lest {
  display: inline-block;
  padding: 0;
}
nav .nav-header .lest li {
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #fff;
}
nav .nav-header .lest li a {
  color: #fff !important;
  font-size: 13px;
}
nav .nav-header .lest li a:hover {
  border-bottom: 1px solid #fff;
}
nav .nav-header .dropdown {
  display: inline-block;
}
nav .nav-header .dropdown a {
  color: #fff !important;
}
nav .nav-header .dropdown li a {
  color: #222 !important;
  font-size: 12px;
}
nav .navbar-brand {
  position: absolute;
  top: 5px;
  background-color: #fff !important;
  padding: 0 15px;
  border: 7px solid #e2baca;
  width: 120px !important;
  height: 120px;
}
nav .navbar-brand img {
  width: 100%;
  background-color: #fff;
}
nav .attr-nav .cart-list {
  padding: 15px !important;
  text-align: center;
}
nav .attr-nav i {
  color: #f8408c !important;
}
nav .col-menu {
  border: none !important;
}
nav ul.dropdown-menu.megamenu-content .col-menu {
  text-align: center !important;
  margin: auto;
}
nav ul.dropdown-menu.megamenu-content .col-menu a img {
  display: block;
  margin: auto;
  width: 50px;
}
nav ul.dropdown-menu.megamenu-content .col-menu a:hover {
  background: none !important;
}

.nav-scroll {
  border: none !important;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.nav-scroll .nav-header {
  display: none;
}
.nav-scroll .search {
  display: none;
}
.nav-scroll ul.nav > li > a {
  padding: 10px 15px !important;
}
.nav-scroll .attr-nav > ul > li > a {
  padding: 10px 15px !important;
}
.nav-scroll .navbar-brand {
  position: relative;
  background-color: #fff;
  padding: 0 !important;
  border: none !important;
  width: 60px !important;
  height: 30px;
}

@media (max-width: 991px) {
  nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
    background: #181818 !important;
  }
  nav.navbar.bootsnav.navbar-mobile .navbar-collapse li a {
    border: none !important;
    border-bottom: solid 1px #121214 !important;
    color: #fff !important;
  }
}
/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header .item {
  position: relative;
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
}
.header .owl-nav {
  width: 100%;
}
.header .owl-nav .owl-prev, .header .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background: none;
}
.header .owl-nav .owl-prev:hover, .header .owl-nav .owl-next:hover {
  background: none;
}
.header .owl-nav .owl-prev span, .header .owl-nav .owl-next span {
  color: #f8408c;
  font-size: 20px;
}
.header .owl-nav .owl-prev {
  left: 15px;
}
.header .owl-nav .owl-next {
  right: 15px;
}

/* -------------------------------------------------------
                    About
-------------------------------------------------------- */
.about {
  position: relative;
}
.about .about-info {
  padding: 0 30px;
}
.about .about-info .bbtn {
  text-align: center;
  margin: auto;
}
.about .about-info p {
  font-size: 18px;
  font-weight: 500;
}

/* -------------------------------------------------------
                    Product
-------------------------------------------------------- */
.product {
  position: relative;
}
.product .item {
  margin: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product .item .part-img {
  background-color: inherit;
  border: 5px solid #f8408c;
  border-radius: 50%;
  width: 100%;
  height: 252px;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product .item .part-img img {
  border: 8px solid #fff;
  border-radius: 50%;
  height: 100%;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product .item .part-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.product .item .part-info h3 {
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

/* -------------------------------------------------------
                   best-s-p
-------------------------------------------------------- */
.best-s-p {
  background: url("../img/background.jpg");
  background-attachment: fixed;
  position: relative;
}
.best-s-p .sub-title {
  position: relative;
}
.best-s-p .sub-title h3 {
  color: #fff;
}
.best-s-p .item-frame-box {
  position: relative;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.best-s-p .item-frame-box .item-box {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 30px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.best-s-p .item-frame-box .item-box .part-img {
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}
.best-s-p .item-frame-box .item-box .part-img img {
  border-radius: 30px 30px 0 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.best-s-p .item-frame-box .item-box .part-img .modal-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.best-s-p .item-frame-box .item-box .part-img .modal-icon i {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px;
}
.best-s-p .item-frame-box .item-box .part-img .hover-area {
  position: absolute;
  bottom: 100%;
  left: 5%;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.best-s-p .item-frame-box .item-box .part-info {
  padding: 30px 15px;
}
.best-s-p .item-frame-box .item-box .part-info .info-header h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.best-s-p .item-frame-box .item-box .part-info .ratings {
  position: relative;
  margin: auto;
  text-align: center;
}
.best-s-p .item-frame-box .item-box .part-info .ratings::before {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
}
.best-s-p .item-frame-box .item-box .part-info .ratings .rat {
  display: inline-block;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}
.best-s-p .item-frame-box .item-box .part-info .ratings .rat span {
  background-color: #fff;
  color: #ccc;
  font-size: 1.2rem;
}
.best-s-p .item-frame-box .item-box .part-info .ratings .right {
  color: #ffc600;
}
.best-s-p .item-frame-box .item-box .part-info h5 {
  display: inline-block;
  font-size: 16px;
  color: #f8408c;
}
.best-s-p .item-frame-box .item-box .part-info .button {
  display: inline-block;
  color: #444;
  font-size: 13px !important;
}
.best-s-p .item-frame-box .item-box:hover .hover-area {
  bottom: 0;
}
.best-s-p .item-frame-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.best-s-p .owl-nav {
  width: 100%;
}
.best-s-p .owl-nav .owl-prev, .best-s-p .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background: none;
}
.best-s-p .owl-nav .owl-prev:hover, .best-s-p .owl-nav .owl-next:hover {
  background: none;
}
.best-s-p .owl-nav .owl-prev span, .best-s-p .owl-nav .owl-next span {
  color: #f8408c;
  font-size: 25px;
}
.best-s-p .owl-nav .owl-prev {
  left: -30px;
}
.best-s-p .owl-nav .owl-next {
  right: -30px;
}

/* -------------------------------------------------------
                   Other Product
-------------------------------------------------------- */
.other-product {
  position: relative;
  overflow: hidden;
}
.other-product .item {
  position: relative;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.other-product .item .part-img {
  position: relative;
}
.other-product .item .part-img img {
  width: 100%;
}
.other-product .item .part-img .over-lay-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.other-product .item .part-img .over-lay-item a {
  margin-top: -60px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.other-product .item .part-info {
  background-color: #f9f9f9;
  padding: 15px;
  overflow: hidden;
}
.other-product .item .part-info h4 {
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.other-product .item .part-info h4:hover {
  color: #f8408c;
}
.other-product .item .part-info .pricee {
  display: inline-block;
}
.other-product .item .part-info .pricee h5 {
  color: #f8408c;
  font-size: 18px;
  font-weight: 500;
}
.other-product .item .part-info .ratings {
  display: inline-block;
  padding-top: 10px;
}
.other-product .item .part-info .ratings i {
  font-size: 12px;
}
.other-product .item .part-info .ratings .right {
  color: #ffc600;
}
.other-product .item:hover {
  -webkit-box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.12);
}
.other-product .item:hover .over-lay-item {
  opacity: 1;
}
.other-product .item:hover .over-lay-item a {
  margin-top: 0;
}

/* -------------------------------------------------------
                    recommended-products
-------------------------------------------------------- */
.r-products {
  position: relative;
  background-color: #f9f9f9;
}
.r-products .sub-title {
  position: relative;
}
.r-products .item-frame-box {
  position: relative;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.r-products .item-frame-box .item-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 30px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.r-products .item-frame-box .item-box .part-img {
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}
.r-products .item-frame-box .item-box .part-img img {
  border-radius: 30px 30px 0 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.r-products .item-frame-box .item-box .part-img .hover-area {
  position: absolute;
  bottom: 100%;
  left: 5%;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.r-products .item-frame-box .item-box .part-info {
  padding: 30px 15px;
}
.r-products .item-frame-box .item-box .part-info .info-header h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.r-products .item-frame-box .item-box .part-info .ratings {
  position: relative;
  margin: auto;
  text-align: center;
}
.r-products .item-frame-box .item-box .part-info .ratings::before {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
}
.r-products .item-frame-box .item-box .part-info .ratings .rat {
  display: inline-block;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}
.r-products .item-frame-box .item-box .part-info .ratings .rat span {
  background-color: #fff;
  color: #ccc;
  font-size: 1.2rem;
}
.r-products .item-frame-box .item-box .part-info .ratings .right {
  color: #ffc600;
}
.r-products .item-frame-box .item-box .part-info h5 {
  display: inline-block;
  font-size: 16px;
  color: #f8408c;
}
.r-products .item-frame-box .item-box .part-info .button {
  display: inline-block;
  color: #444;
  font-size: 13px !important;
}
.r-products .item-frame-box .item-box:hover .hover-area {
  bottom: 0;
}
.r-products .item-frame-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.r-products .owl-nav {
  width: 100%;
}
.r-products .owl-nav .owl-prev, .r-products .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background: none;
}
.r-products .owl-nav .owl-prev:hover, .r-products .owl-nav .owl-next:hover {
  background: none;
}
.r-products .owl-nav .owl-prev span, .r-products .owl-nav .owl-next span {
  color: #f8408c;
  font-size: 25px;
}
.r-products .owl-nav .owl-prev {
  left: -30px;
}
.r-products .owl-nav .owl-next {
  right: -30px;
}

/* -------------------------------------------------------
                   footer
-------------------------------------------------------- */
.footer {
  position: relative;
  background-color: #121214;
}
.footer .footer-top {
  padding: 25px 0;
}
.footer .footer-top .block-title h4 {
  color: #ffe79e;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-top .block .links {
  padding: 0;
}
.footer .footer-top .block .links li {
  padding: 8px 0;
  font-size: 13px;
}
.footer .footer-top .block .links li a {
  color: #fff;
}
.footer .footer-top .block .links li a i {
  color: #965053;
  padding-right: 8px;
}
.footer .footer-top .block .links li a:hover span {
  border-bottom: 1px solid #fff;
}
.footer .footer-top .block-contact .contact-item {
  color: #777;
}
.footer .footer-top .block-contact .contact-item .icon {
  display: inline-block;
  vertical-align: top;
  padding: .5rem;
}
.footer .footer-top .block-contact .contact-item .info {
  display: inline-block;
}
.footer .footer-top .block-contact .contact-item .info h5 {
  color: #777;
  font-weight: 800;
}
.footer .footer-top .block-contact .contact-item .info p {
  color: #777;
  font-size: 13px;
}
.footer .footer-top .block-contact .contact-item .info a {
  color: #fff;
  font-size: 13px;
}
.footer .footer-top .block-contact .contact-item .info a:hover {
  border-bottom: 1px solid #fff;
}
.footer .footer-top .subscribe {
  position: relative;
}
.footer .footer-top .subscribe .input-box {
  position: relative;
  height: 30px;
}
.footer .footer-top .subscribe input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: 0;
  background-color: #dcdcdc;
  border-radius: 5px;
}
.footer .footer-top .subscribe button {
  background-color: #ffe79e;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer .footer-top .subscribe button span {
  padding: 0 5px;
  color: #333;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.footer .footer-top .subscribe button:hover span {
  color: #666;
}
.footer .footer-bottom {
  background-color: #0c0c0c;
  padding: 25px 0;
  border-top: 2px solid #444;
}
.footer .footer-bottom .logo {
  margin-right: 45px;
  width: 60px !important;
}
.footer .footer-bottom .logo img {
  width: 60px;
}
.footer .footer-bottom .social-icon {
  display: inline-block;
}
.footer .footer-bottom .social-icon a {
  margin: 5px;
}
.footer .footer-bottom .social-icon a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #9c9c9c;
  color: #fff;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.footer .footer-bottom .social-icon .color-face:hover {
  background-color: #213553;
}
.footer .footer-bottom .social-icon .color-tw:hover {
  background-color: #3aa8db;
}
.footer .footer-bottom .social-icon .color-li:hover {
  background-color: #008bc2;
}
.footer .footer-bottom .social-icon .color-tube:hover {
  background-color: #f00;
}
.footer .footer-bottom .custom-block {
  display: inline-block;
  margin-left: 60px;
  width: 360px;
}
.footer .footer-bottom .custom-block img {
  width: 100%;
}
.footer .footer-bottom address {
  display: inline-block;
  float: right;
  color: #777;
}

/* -------------------------------------------------------
                    Products
-------------------------------------------------------- */
/* ----------
    Products header
 ---------------------- */
.Product-header {
  background-color: #f8408c;
}
.Product-header ul {
  padding: 0;
}
.Product-header ul li {
  display: inline-block;
  color: #fff;
  padding: 8px 4px 4px 0;
}
.Product-header ul li a {
  color: #fff;
}
.Product-header ul li a:hover {
  border-bottom: 1px solid #fff;
}
.Product-header ul li i {
  padding-left: 4px;
  font-size: 12px;
}

/* ----------
    Products header
 ---------------------- */
.product-gallery .proudct-gallery-item {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product-gallery .proudct-gallery-item .proudct-gallery-item-box {
  position: relative;
  border-radius: 30px;
}
.product-gallery .proudct-gallery-item .proudct-gallery-item-box .part-img {
  border-radius: 30px;
  overflow: hidden;
}
.product-gallery .proudct-gallery-item .proudct-gallery-item-box .part-img img {
  border-radius: 30px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product-gallery .proudct-gallery-item .proudct-gallery-item-box .overlay-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 30px 30px;
  text-align: center;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product-gallery .proudct-gallery-item .proudct-gallery-item-box .overlay-item h4 {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.product-gallery .proudct-gallery-item:hover .overlay-item h4 {
  color: #f8408c;
}
.product-gallery .proudct-gallery-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .5;
}

/* -------------------------------------------------------
                   single Products
-------------------------------------------------------- */
.container-content .side-bar .block-category {
  border: 1px solid #e2baca;
  border-radius: 4px;
  margin: 7px 0 30px;
}
.container-content .side-bar .block-category .block-title {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 10px 15px;
}
.container-content .side-bar .block-category .block-title h3 {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
.container-content .side-bar .block-category .block-content {
  border-top: 1px solid #e2baca;
  padding: 10px 15px;
}
.container-content .side-bar .block-category .block-content ul {
  padding: 0;
}
.container-content .side-bar .block-category .block-content ul li a {
  color: #444;
  font-size: 14px;
}
.container-content .side-bar .block-category .block-content ul li a:hover {
  border-bottom: 1px solid #444;
}
.container-content .side-bar .block-category .block-content ul li i {
  cursor: pointer;
  background-color: #f8408c;
  color: #fff;
  padding: 2px;
  margin-top: 5px;
  font-size: 10px;
}
.container-content .side-bar .block-category .block-content .sub-product li {
  padding: 5px 0 5px 15px;
}
.container-content .side-bar .block-category .block-content .sub-product .product {
  margin-left: 15px;
}

.hide {
  width: 0;
  height: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */
.contact {
  position: relative;
  background-color: #fff;
}
.contact #map {
  height: 380px;
}
.contact .contact-info {
  padding: 30px 20px;
}
.contact .contact-info .section-title {
  margin-bottom: 20px !important;
}
.contact .contact-info .section-title h3 {
  margin-bottom: 0 !important;
}
.contact .contact-info h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact .contact-info p {
  width: 80%;
  margin-bottom: 30px;
}
.contact .contact-info .details-part {
  margin-bottom: 30px;
  overflow: hidden;
}
.contact .contact-info .details-part i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #f8408c;
  text-align: center;
  vertical-align: top;
  color: #fff;
  font-size: 2rem;
}
.contact .contact-info .details-part .info {
  display: inline-block;
}
.contact .contact-info .details-part .info h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 1rem 1rem;
}
.contact .cont-form {
  padding: 30px 20px;
}
.contact .cont-form .full-form {
  padding: 0 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
.contact .cont-form .full-form .form .form-group {
  position: relative;
}
.contact .cont-form .full-form .form .form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact .cont-form .full-form .form .form-group input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  color: #000;
}
.contact .cont-form .full-form .form textarea {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  max-height: 160px !important;
  min-height: 160px !important;
  padding: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contact .cont-form .full-form .form textarea:focus, .contact .cont-form .full-form .form input:focus {
  border: 1px solid #e2baca;
}
.contact .cont-form .full-form .form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000;
  opacity: 1;
}
.contact .cont-form .full-form .form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  opacity: 1;
}
.contact .cont-form .full-form .form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  opacity: 1;
}
.contact .cont-form .full-form .form ::placeholder {
  /* Most modern browsers support this now. */
  color: #000;
  opacity: 1;
}

/* -------------------------------------------------------
                    Login
-------------------------------------------------------- */
.login .account-login {
  background-color: #f9f9f9;
  border-top: 4px solid #f8408c;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
}
.login .account-login .content {
  position: relative;
  overflow: hidden;
}
.login .account-login .content h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.login .account-login .content p {
  margin-bottom: 15px;
}
.login .account-login .new-account .bbtn {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.login .account-login .new-account .bbtn button {
  padding: 1rem 1.5rem;
}
.login .account-login .registered-users label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.login .account-login .registered-users input {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  color: #000;
  margin-bottom: 30px;
}
.login .account-login .registered-users input:focus {
  border: 1px solid #e2baca;
}
.login .account-login .registered-users a {
  display: inline-block;
}
.login .account-login .registered-users .bbtn {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.login .account-login .registered-users .bbtn button {
  padding: 1rem 1.5rem;
}

/* -------------------------------------------------------
                    account
-------------------------------------------------------- */
.account {
  position: relative;
  /* ---------- Order id ----------*/
}
.account .sidebar-account {
  position: relative;
}
.account .sidebar-account .block-content-account ul {
  padding: 0;
}
.account .sidebar-account .block-content-account ul li {
  padding: 6px 5px 6px 0;
  border-bottom: 1px solid #ccc;
}
.account .sidebar-account .block-content-account ul li a {
  color: #444;
}
.account .sidebar-account .block-content-account ul li a i {
  padding-right: 5px;
}
.account .sidebar-account .block-content-account ul li a:hover {
  color: #f8408c;
}
.account .content-account .block-title h3 {
  color: #f8408c;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
}
.account .content-account .welcome-msg {
  background-color: #f8408c;
  padding: 15px;
  border-radius: 8px;
}
.account .content-account .welcome-msg p {
  color: #fff;
}
.account .content-account .box-in {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.account .content-account .box-in .box-title {
  background-color: #f5f5f5;
  border-radius: 8px 8px 0 0;
  padding: 5px 10px;
}
.account .content-account .box-in .box-title h5 {
  display: inline-block;
}
.account .content-account .box-in .box-title a {
  color: #f8408c;
  font-size: 14px;
  margin-top: 10px;
}
.account .content-account .box-in .box-in-content {
  padding: 20px 10px 50px;
}
.account .content-account .box-in .box-in-content p {
  font-size: 15px;
  line-height: 1.8;
}
.account .content-account .box-in .box-in-content a {
  color: #f8408c;
  font-size: 14px;
  margin-top: 10px;
}
.account .content-account .box-in .box-in-content h6 {
  font-size: 16px;
}
.account .order-id .block-title h3 {
  width: 48%;
  display: inline-block;
}
.account .order-id .block-title .link {
  width: 48%;
  display: inline-block;
  text-align: right;
}
.account .order-id .block-title .link a {
  padding: 0 5px;
  color: #f8408c;
}
.account .order-id .block-title .link a:hover {
  color: #121214;
  border-bottom: 1px solid #121214;
}
.account .order-id .block-title .link a:last-child {
  border-left: 1px solid #f8408c;
}
.account .order-id .item-order ul {
  padding: 0;
}
.account .order-id .item-order ul li {
  border: 1px solid #ccc;
  width: 100%;
}
.account .order-id .item-order ul li div {
  display: inline-block;
}
.account .order-id .item-order ul li .product-name {
  width: 40%;
}
.account .order-id .item-order ul li .sku {
  width: 15%;
}
.account .order-id .item-order ul li .price {
  width: 15%;
}
.account .order-id .item-order ul li .qty {
  width: 15%;
}
.account .order-id .item-order ul .head {
  background-color: #f9f9f9;
  padding: 10px 5px;
}
.account .order-id .item-order ul .content {
  padding: 0 5px;
}
.account .order-id .item-order ul .content div {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 10px 5px;
}
.account .order-id .item-order ul .content div:last-child {
  border: none;
}
.account .order-id .item-order ul .content-2 {
  text-align: right;
}
.account .order-id .item-order ul .content-2 div {
  padding: 10px 5px;
}
.account .order-id .item-order ul .content-2 .qty {
  width: auto;
}
.account .order-id .item-order ul .content-2 .qty p {
  display: block;
}
.account .order-id .item-order ul .content-2 .subtotal {
  width: 18%;
  text-align: center;
}

/* -------------------------------------------------------
                    account Information page
-------------------------------------------------------- */
.content-account {
  /* ------- wish list ----*/
  /* ------- Order ----*/
}
.content-account .account-information {
  background-color: #f9f9f9;
  border-top: 4px solid #f8408c;
  border-radius: 8px;
  padding: 30px;
  overflow: hidden;
}
.content-account .account-information .box-title h5 {
  color: #f8408c;
  font-size: 18px;
  font-weight: 400;
}
.content-account .account-information label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.content-account .account-information input {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  padding: .8rem;
  color: #000;
  margin-bottom: 30px;
}
.content-account .account-information input:focus {
  border: 1px solid #e2baca;
}
.content-account .account-information .gender label {
  display: block;
}
.content-account .account-information .gender input {
  display: inline-block;
  width: auto !important;
  margin: 5px;
}
.content-account .account-information .control input {
  display: inline-block;
  width: auto !important;
  margin: 5px;
}
.content-account .account-information .buttons-set a {
  color: #f8408c;
  font-size: 14px;
}
.content-account .account-information .buttons-set a i {
  padding: 5px;
}
.content-account .account-information .buttons-set a:hover {
  color: #121214;
  border-bottom: 1px solid #121214;
}
.content-account .account-information .buttons-set .button {
  border-radius: 4px;
}
.content-account .city-box input {
  width: 50% !important;
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.content-account .country-box label {
  display: block;
}
.content-account .country-box select {
  display: block;
  width: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: .8rem;
  color: #000;
  margin-bottom: 30px;
}
.content-account .wishlist ul {
  padding: 0;
}
.content-account .wishlist ul li {
  width: 100%;
  display: table;
  padding: 15px;
}
.content-account .wishlist ul li div {
  display: table-cell;
}
.content-account .wishlist ul li div h4 {
  display: inline-block;
}
.content-account .wishlist ul li .product-name {
  width: 40%;
}
.content-account .wishlist ul li .product-name img {
  width: 100px;
  border-radius: 4px;
  margin-right: 5px;
}
.content-account .wishlist ul li .product-price {
  width: 20%;
}
.content-account .wishlist ul li .product-add {
  width: 25%;
}
.content-account .wishlist ul li .product-remove {
  width: 15%;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.content-account .wishlist ul li .product-remove i {
  cursor: pointer;
}
.content-account .wishlist ul li .product-remove i:hover {
  color: #f8408c;
}
.content-account .wishlist ul .product-item {
  background-color: #f9f9f9;
  margin-bottom: 30px;
}
.content-account .wishlist ul .product-item .product-price h4 {
  color: #f8408c;
}
.content-account .wishlist .buttons-set a {
  color: #f8408c;
  font-size: 14px;
}
.content-account .wishlist .buttons-set a i {
  padding: 5px;
}
.content-account .wishlist .buttons-set a:hover {
  color: #121214;
  border-bottom: 1px solid #121214;
}
.content-account .wishlist .buttons-set .button {
  border-radius: 4px;
}
.content-account .content-account-subscribe {
  background-color: #f9f9f9;
  border-top: 4px solid #f8408c;
  border-radius: 8px;
  padding: 30px;
  overflow: hidden;
}
.content-account .content-account-subscribe .box-title h5 {
  color: #f8408c;
  font-size: 18px;
  font-weight: 400;
}
.content-account .content-account-subscribe input {
  display: inline-block;
  margin: 5px;
}
.content-account .content-account-subscribe label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.content-account .content-account-subscribe .button {
  border-radius: 4px;
}
.content-account .content-account-subscribe .buttons-set a {
  color: #f8408c;
  font-size: 14px;
}
.content-account .content-account-subscribe .buttons-set a i {
  padding: 5px;
}
.content-account .content-account-subscribe .buttons-set a:hover {
  color: #121214;
  border-bottom: 1px solid #121214;
}
.content-account .content-account-subscribe .buttons-set .button {
  border-radius: 4px;
}
.content-account .order ul {
  padding: 0;
}
.content-account .order ul li {
  width: 100%;
}
.content-account .order ul li div {
  display: inline-block;
}
.content-account .order ul li .order {
  width: 14%;
}
.content-account .order ul li .data {
  width: 14%;
}
.content-account .order ul li .ship {
  width: 25%;
}
.content-account .order ul li .order-total {
  width: 14%;
}
.content-account .order ul li .view-order {
  width: 16%;
}
.content-account .order ul li div:last-child {
  border: none;
}
.content-account .order ul .head {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px 5px;
}
.content-account .order ul .content {
  border: 1px solid #ccc;
  padding: 0 5px;
}
.content-account .order ul .content div {
  padding: 10px 0;
  border-right: 1px solid #ccc;
}

/* -------------------------------------------------------
                    details product
-------------------------------------------------------- */
.details-product .item-details-product {
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 10px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.details-product .item-details-product .part-img {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.details-product .item-details-product .part-img img {
  border-radius: 15px 15px 0 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.details-product .item-details-product .part-info .price h5 {
  color: #f8408c;
  font-size: 18px;
  font-weight: 600;
}
.details-product .item-details-product .part-info h4 {
  font-size: 16px;
}
.details-product .item-details-product .part-info .ratings {
  position: relative;
  margin: auto;
  text-align: center;
}
.details-product .item-details-product .part-info .ratings::before {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
}
.details-product .item-details-product .part-info .ratings .rat {
  display: inline-block;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}
.details-product .item-details-product .part-info .ratings .rat span {
  background-color: #fff;
  color: #ccc;
  font-size: 1.2rem;
}
.details-product .item-details-product .part-info .ratings .right {
  color: #ffc600;
}
.details-product .item-details-product .part-info .hover-area {
  position: relative;
  -webkit-transition: all .8s;
  transition: all .8s;
  bottom: -50%;
  opacity: 0;
}
.details-product .item-details-product .part-info .hover-area .button {
  margin-top: 15px;
  border-radius: 4px;
}
.details-product .item-details-product .part-info .hover-area .first {
  position: relative;
  -webkit-transition: all .8s;
  transition: all .8s;
  bottom: -100%;
}
.details-product .item-details-product:hover {
  border: 3px solid #f9f9f9;
}
.details-product .item-details-product:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.details-product .item-details-product:hover .hover-area {
  bottom: 0;
  opacity: 1;
}
.details-product .item-details-product:hover .hover-area .first {
  bottom: 0;
}

/* -------------------------------------------------------
                    details product box
-------------------------------------------------------- */
.main-product .product-img-box {
  position: relative;
}
.main-product .product-img-box .flexslider li {
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  padding: 10px 5px 0 0;
}
.main-product .product-img-box .flexslider li img {
  border: 1px solid #f9f9f9;
  border-radius: 8px;
}
.main-product .product-img-box .flexslider li:last-child {
  padding-right: 0;
}
.main-product .product-img-box .flexslider .flex-viewport li {
  padding: 0 !important;
}
.main-product .product-shop .sub-title h3 {
  font-size: 22px;
}
.main-product .product-shop .ratings {
  position: relative;
}
.main-product .product-shop .ratings .rat {
  display: inline-block;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}
.main-product .product-shop .ratings .rat span {
  background-color: #fff;
  color: #ccc;
  font-size: 1.2rem;
}
.main-product .product-shop .ratings .right {
  color: #ffc600;
}
.main-product .product-shop .de {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.main-product .product-shop .product-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.main-product .product-shop .product-info h5 {
  font-size: 18px;
}
.main-product .product-shop .product-info h5 span {
  font-size: 16px;
}
.main-product .product-shop .product-info .price-box {
  margin: 10px 0;
}
.main-product .product-shop .product-info .price-box h4 {
  color: #f8408c;
  font-size: 30px;
  font-weight: 600;
}
.main-product .product-shop .add-to-box .button {
  margin-top: 15px;
  border-radius: 4px;
}

/* -------------------------------------------------------
                    Services
-------------------------------------------------------- */
.services blockquote {
  background-color: #f9f9f9;
  border-left: 4px solid #f8408c !important;
}

/* -------------------------------------------------------
                    Career
-------------------------------------------------------- */
.career .listing-job {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.career .datatables_length label {
  font-size: 14px;
  font-weight: 400;
}
.career .datatables_length label select {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  padding: 2px 10px;
}
.career .dataTables_filter label {
  font-size: 14px;
  font-weight: 400;
}
.career .dataTables_filter input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  color: #000;
}
.career .table thead {
  border: 1px solid #ccc;
}
.career .table thead .tr-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}
.career .table thead .tr-head th {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}
.career .table thead .tr-head th i {
  vertical-align: middle;
  line-height: 1.6;
  float: right;
}
.career .table thead .odd {
  background-color: #f9f9f9;
  text-align: center;
  margin: auto;
}
.career .pagination-ta ul {
  padding: 0;
}
.career .pagination-ta ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0;
}
.career .pagination-ta ul li a {
  font-size: 14px;
  color: #444;
}

/* -------------------------------------------------------
                    Career-v2
-------------------------------------------------------- */
.listing-job-v2 .job-item {
  background-color: #f9f9f9;
  border-left: 4px solid #f8408c;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  vertical-align: middle;
  padding: 20px;
  margin-top: 30px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.listing-job-v2 .job-item a h4 {
  line-height: 1.8;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.listing-job-v2 .job-item a:hover h4 {
  color: #f8408c;
}
.listing-job-v2 .job-item a .location i {
  color: #e2baca;
  padding-right: 10px;
}
.listing-job-v2 .job-item:hover {
  -webkit-box-shadow: 0px 9px 17px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 9px 17px rgba(0, 0, 0, 0.12);
}

/* -------------------------------------------------------
                    Shopping cart
-------------------------------------------------------- */
.shopping-cart .section-title {
  overflow: hidden;
}
.shopping-cart .section-title h3 {
  display: inline-block;
}
.shopping-cart .section-title button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}
.shopping-cart .messages {
  background-color: #fcf8e3;
  border-radius: 8px;
  padding: 20px 15px;
}
.shopping-cart .messages p {
  font-size: 13px;
  margin: 0;
}
.shopping-cart .sidebar {
  padding: 0;
  border-radius: 8px;
}
.shopping-cart .sidebar .cart-totals {
  border: 1px solid #f9f9f9;
  border-radius: 8px;
}
.shopping-cart .sidebar .cart-totals .cart-title {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px 8px 0 0;
}
.shopping-cart .sidebar .cart-totals .cart-title h3 {
  margin: 0;
  font-size: 16px;
}
.shopping-cart .sidebar .cart-totals .item {
  margin: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #f9f9f9;
}
.shopping-cart .sidebar .cart-totals .item h4 {
  width: 60%;
  margin: 0;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}
.shopping-cart .sidebar .cart-totals .item span {
  font-size: 13px;
  float: right;
}
.shopping-cart .sidebar .cart-totals .bttn {
  margin: auto;
  text-align: center;
  padding: 15px;
}
.shopping-cart .sidebar .cart-totals .bttn button {
  width: 100%;
  border-radius: 8px;
}
.shopping-cart .shopping-content {
  position: relative;
}
.shopping-cart .shopping-content ul {
  padding: 0;
}
.shopping-cart .shopping-content ul li {
  width: 100%;
}
.shopping-cart .shopping-content ul li span {
  vertical-align: middle;
  padding: 8px;
}
.shopping-cart .shopping-content ul li span.price {
  float: right;
  margin-right: 100px;
}
.shopping-cart .shopping-content ul li .qty {
  display: inline-block;
  width: 150px;
  padding: 15px;
}
.shopping-cart .shopping-content ul .item {
  background-color: #f9f9f9;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.shopping-cart .shopping-content ul .item div {
  padding: 15px 15px 10px;
  display: inline-block;
}
.shopping-cart .shopping-content ul .item .pro-item img {
  width: 80px;
  border-radius: 8px;
  padding-right: 5px;
}
.shopping-cart .shopping-content ul .item .input-number {
  width: 50px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.shopping-cart .shopping-content ul .item .input-number,
.shopping-cart .shopping-content ul .item .input-number-decrement,
.shopping-cart .shopping-content ul .item .input-number-increment {
  border: 1px solid #ccc;
  height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.shopping-cart .shopping-content ul .item .input-number-decrement,
.shopping-cart .shopping-content ul .item .input-number-increment {
  display: inline-block;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.shopping-cart .shopping-content ul .item .input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.shopping-cart .shopping-content ul .item .input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.shopping-cart .shopping-content ul .item .popbtn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  float: right;
  height: 100%;
  text-align: center;
}
.shopping-cart .shopping-content ul .item .popbtn i {
  cursor: pointer;
  padding: 0 8px;
}
.shopping-cart .shopping-content ul .item .price {
  display: inline-block;
  color: #f8408c;
  margin-right: 90px;
  font-size: 20px;
  font-weight: 600;
  float: right;
}
.shopping-cart .shopping-content .total {
  display: inline-block;
}
.shopping-cart .shopping-content .total h5 {
  font-size: 20px;
}
.shopping-cart .shopping-content .total h5 span {
  color: #f8408c;
  padding-left: 5px;
}
.shopping-cart .shopping-content .bttn {
  display: inline-block;
  margin-top: 4px;
}
.shopping-cart .shopping-content .bttn button {
  padding: 10px 15px;
  border-radius: 8px;
}

/* -------------------------------------------------------
                    check out
-------------------------------------------------------- */
.checkout {
  position: relative;
}
.checkout .block-title {
  border-bottom: 1px solid #ccc;
}
.checkout .sub-title-check {
  margin-bottom: 30px;
}
.checkout .sub-title-check h4 {
  font-size: 20px;
  font-weight: 600;
}
.checkout label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.checkout label span {
  color: #ff054a;
}
.checkout .blck-info .box-block input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  width: 100%;
  padding: .8rem;
  color: #000;
  margin-bottom: 30px;
}
.checkout .blck-info .gender label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.checkout .blck-info .gender input {
  display: inline-block;
  width: auto !important;
  margin: 5px;
}
.checkout .blck-info .country-box label {
  display: block;
}
.checkout .blck-info .country-box select {
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  padding: .8rem;
  color: #000;
  margin-bottom: 30px;
}
.checkout .block-sign input {
  display: inline-block;
  width: auto !important;
  margin-bottom: 15px;
  padding-right: 5px;
}
.checkout .block-sign label {
  display: inline-block;
  padding-left: 10px;
}
.checkout .block-sign ul {
  padding: 0;
}
.checkout .block-sign ul li {
  width: 100%;
}
.checkout .block-sign ul li div {
  display: inline-block;
}
.checkout .block-sign ul li .product-name {
  width: 55%;
}
.checkout .block-sign ul li .price {
  width: 15%;
}
.checkout .block-sign ul li .Qty {
  width: 10%;
}
.checkout .block-sign ul li .subtotal {
  width: 15%;
}
.checkout .block-sign ul .title {
  background-color: #f9f9f9;
  padding: 10px 5px;
  margin-bottom: 20px;
}
.checkout .block-sign ul .content {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}
.checkout .block-sign ul .content .product-name img {
  width: 80px;
  display: inline-block;
  border-radius: 4px;
}
.checkout .block-sign ul .content .product-name h6 {
  display: inline-block;
  margin-left: 5px;
}
.checkout .block-sign ul .first {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  text-align: right;
}
.checkout .block-sign ul .first .subtotal {
  width: 22%;
  text-align: center;
}
.checkout .block-sign ul .first-2 div {
  font-weight: 600;
}
.checkout .block-sign .button {
  width: 100%;
}

/* -------------------------------------------------------
                    Classes To Extend
-------------------------------------------------------- */
.header, .best-s-p {
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */