/**

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
    + About / Skills
    + Resume
    + Counter
    + Services
    + Portfolio
    + testimonel
    + Blog
    + Contact
    + Footer

**/

@import "helpers.scss";
@import "responsive.scss";
/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
body{
  overflow-x: hidden !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  color: #333;
  backface-visibility: hidden;
}

/** THEME COLOR **/
$backgroundColor : #f9f9f9;
$mainColor : #f8408c;
$darkColor : #121214;
$borderColor : #e2baca;

p{
	line-height: 1.5;
  font-size: 15px;
  color: #333;
}

img{
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
}

.section-bg {
  position: absolute;
  left: -5%;
  color: #bdb3b3;
  font-size: 60rem;
  opacity: .1;
  z-index: -1;
}

.section-border {
  border-bottom: 1px solid $borderColor;
}

/*---- section title----*/
.section-title {
  position: relative;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  h3 {
    position: relative;
    color: #333;
    font-size: 35px;
    text-shadow: 3px 3px 0 rgba(223, 223, 223, 0.1);
    padding-bottom: 15px;
    font-family: 'Lobster', cursive;
  }
}

.sub-title {
  h3 {
    color: $mainColor;
    color: #333;
    font-size: 35px;
    text-shadow: 3px 3px 0 rgba(223, 223, 223, 0.1);
    padding-bottom: 15px;
    font-family: 'Lobster', cursive;
  }
}

hr.section {
  height: 1px;
  background: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.8),transparent);
}

.active {
  color: $mainColor !important;
}
/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */
nav {
  position: relative;
  border-bottom: 7px solid $borderColor !important;
  transition: all .5s ease-in-out;

  li {
    a {
      color: #333 !important;
    }
  }

  li.dropdown ul.dropdown-menu {
    border-top: 7px solid $mainColor !important;
    li {
      a {
        text-align: left !important;
        img {
          display: inline-block;
          width: 20px;
        }
        &:hover {
          background: rgba(0,0, 0, .1) !important;
        }
      }
    }

  }

  .nav-header {
    background-color: $mainColor;
    padding: 10px 0 0;
    p {
      display: inline-block;
      padding: 0 15px;
      color: #fff;
      font-size: 12px;
    }

    .dropdown{
      padding: 0 10px;
      font-size: 13px;
      border: none;
    }

    .lest-sm {
      display: none;
    }

    .lest {
      display: inline-block;
      padding: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        border-left: 1px solid #fff;
        a {
          color: #fff !important;
          font-size: 13px;
          &:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }

    .dropdown {
      display: inline-block;
      a {
        color: #fff !important;
      }
      li {
        a {
          color: #222 !important;
          font-size: 12px;
        }
      }
    }
  }

  .navbar-brand {
    position: absolute;
    top: 5px;
    background-color: #fff !important;
    padding: 0 15px;
    border: 7px solid $borderColor;
    width: 120px !important;
    height: 120px;
    img {
      width: 100%;
      background-color: #fff;
    }
  }

  .attr-nav {
    .cart-list {
      padding: 15px !important;
      text-align: center;
    }
    i {
      color: $mainColor !important;
    }
  }

  .col-menu {
    border: none !important;
  }

  ul.dropdown-menu.megamenu-content .col-menu {
    text-align: center !important;
    margin: auto;
    a {
      img {
        display: block;
        margin: auto;
        width: 50px;
      }
      &:hover {
        background: none !important;
      }
    }
  }
}

.nav-scroll{
  border: none !important;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  transition: all .5s ease-in-out;
  .nav-header {
    display: none;
  }

  .search {
    display: none;
  }

  ul.nav > li > a {
    padding: 10px 15px !important;
  }

  .attr-nav > ul > li > a {
    padding: 10px 15px !important;
  }

  .navbar-brand {
    position: relative;
    background-color: #fff;
    padding: 0 !important;
    border: none !important;
    width: 60px !important;
    height: 30px;
  }
}



@media (max-width: 991px){

  nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
    background: #181818 !important;
    li {
      a {
        border: none !important;
        border-bottom: solid 1px $darkColor !important;
        color: #fff !important;
      }
    }
  }

}

/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */
.header {
  @extend %bg-cover;
  position: relative;
  width: 100%;
  overflow: hidden;
  .item {
    position: relative;
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
  }
  .owl-nav {
    width: 100%;
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      background: none;
      &:hover {
        background: none;
      }
      span {
        color: $mainColor;
        font-size: 20px;

      }
    }
    .owl-prev {
      left: 15px;
    }

    .owl-next {
      right: 15px;
    }
  }
}
/* -------------------------------------------------------
                    About
-------------------------------------------------------- */
.about {
  position: relative;

  .about-info {
    padding: 0 30px;
    .bbtn {
      text-align: center;
      margin: auto;
    }

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

}
/* -------------------------------------------------------
                    Product
-------------------------------------------------------- */
.product {
  position: relative;
  .item {
    margin: 10px;
    transition: all .8s;
    .part-img {
      background-color: inherit;
      border: 5px solid $mainColor;
      border-radius: 50%;
      width: 100%;
      height: 252px;
      margin: auto;
      overflow: hidden;
      transition: all .8s;
      img {
        border: 8px solid #fff;
        border-radius: 50%;
        height: 100%;
        transition: all .8s;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    .part-info {
      h3 {
        font-size: 20px;
        font-family: 'Lobster', cursive;
      }
    }
  }
}
/* -------------------------------------------------------
                   best-s-p
-------------------------------------------------------- */
.best-s-p {
  @extend %bg-cover;
  background: url('../img/background.jpg');
  background-attachment: fixed;
  position: relative;

  .sub-title {
    position: relative;
    h3 {
      color: #fff;
    }
  }

  .item-frame-box {
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    transition: all .8s;
    .item-box {
      position: relative;
      background-color: #fff;
      padding: 10px;
      border-radius: 30px;
      transition: all .8s;
      .part-img {
        position: relative;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        img {
          border-radius: 30px 30px 0 0;
          transition: all .8s;
        }
        .modal-icon {
          position: absolute;
          top: 10px;
          right: 10px;
          i {
            background: rgba(0,0,0,.5);
            color: #fff;
            padding: 4px;
          }
        }
        .hover-area {
          position: absolute;
          bottom: 100%;
          left: 5%;
          transition: all .8s;
        }
      }

      .part-info {
        padding: 30px 15px;
        .info-header {
          h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 0;
          }
        }

        .ratings {
          position: relative;
          margin: auto;
          text-align: center;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 60%;
            width: 100%;
            height: 1px;
            background: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.8),transparent);
          }
          .rat {
            display: inline-block;
            background-color: #fff;
            position: relative;
            padding: 0 10px;
            z-index: 1;
            span {
              background-color: #fff;
              color: #ccc;
              font-size: 1.2rem;
            }
          }
          .right {
            color: #ffc600;
          }
        }

        h5 {
          display: inline-block;
          font-size: 16px;
          color: $mainColor;
        }

        .button {
          display: inline-block;
          color: #444;
          font-size: 13px !important;
        }
      }
      &:hover {
        .hover-area {
          bottom: 0;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .owl-nav {
    width: 100%;
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      background: none;
      &:hover {
        background: none;
      }
      span {
        color: $mainColor;
        font-size: 25px;
      }
    }
    .owl-prev {
      left: -30px;
    }

    .owl-next {
      right: -30px;
    }
  }
}
/* -------------------------------------------------------
                   Other Product
-------------------------------------------------------- */
.other-product {
  position: relative;
  overflow: hidden;
  .item {
    position: relative;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.12);
    transition: all .5s ;
    .part-img {
      position: relative;
      img {
        width: 100%;
      }
      .over-lay-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        opacity: 0;
        transition: all .5s ;
        a {
          margin-top: -60px;
          transition: all .5s;
        }
      }
    }

    .part-info {
      background-color: $backgroundColor;
      padding: 15px;
      overflow: hidden;
      h4 {
        font-size: 17px;
        font-weight: 700;
        transition: all .3s;
        &:hover {
          color: $mainColor;
        }
      }

      .pricee {
        display: inline-block;
        h5 {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .ratings {
        display: inline-block;
        padding-top: 10px;
        i {
          font-size: 12px;
        }

        .right {
          color: #ffc600;
        }
      }
    }

    &:hover {
      box-shadow: 0px 10px 19px rgba(0,0,0,0.12);
      .over-lay-item {
        opacity: 1;
        a {
          margin-top: 0;
        }
      }
    }
  }
}

/* -------------------------------------------------------
                    recommended-products
-------------------------------------------------------- */
.r-products {
  position: relative;
  background-color: $backgroundColor;

  .sub-title {
    position: relative;
  }

  .item-frame-box {
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    transition: all .8s;
    .item-box {
      background-color: #fff;
      padding: 10px;
      border-radius: 30px;
      transition: all .8s;
      .part-img {
        position: relative;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        img {
          border-radius: 30px 30px 0 0;
          transition: all .8s;
        }

        .hover-area {
          position: absolute;
          bottom: 100%;
          left: 5%;
          transition: all .8s;
        }
      }

      .part-info {
        padding: 30px 15px;
        .info-header {
          h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 0;
          }
        }

        .ratings {
          position: relative;
          margin: auto;
          text-align: center;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 60%;
            width: 100%;
            height: 1px;
            background: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.8),transparent);
          }
          .rat {
            display: inline-block;
            background-color: #fff;
            position: relative;
            padding: 0 10px;
            z-index: 1;
            span {
              background-color: #fff;
              color: #ccc;
              font-size: 1.2rem;
            }
          }
          .right {
            color: #ffc600;
          }
        }

        h5 {
          display: inline-block;
          font-size: 16px;
          color: $mainColor;
        }

        .button {
          display: inline-block;
          color: #444;
          font-size: 13px !important;
        }
      }
      &:hover {
        .hover-area {
          bottom: 0;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .owl-nav {
    width: 100%;
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      background: none;
      &:hover {
        background: none;
      }
      span {
        color: $mainColor;
        font-size: 25px;
      }
    }
    .owl-prev {
      left: -30px;
    }

    .owl-next {
      right: -30px;
    }
  }
}

/* -------------------------------------------------------
                   footer
-------------------------------------------------------- */
.footer {
  position: relative;
  background-color: $darkColor;

  .footer-top {
    padding: 25px 0;
    .block-title {
      h4 {
        color: #ffe79e;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .block {
      .links {
        padding: 0;
        li {
          padding: 8px 0;
          font-size: 13px;
          a {
            color: #fff;
            i {
              color: #965053;
              padding-right: 8px;
            }
            &:hover span {
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }

    .block-contact {
      .contact-item {
        color: #777;

        .icon {
          display: inline-block;
          vertical-align: top;
          padding: .5rem;
        }

        .info {
          display: inline-block;
          h5 {
            color: #777;
            font-weight: 800;
          }
          p {
            color: #777;
            font-size: 13px;
          }
          a {
            color: #fff;
            font-size: 13px;
            &:hover {
              border-bottom: 1px solid #fff;
            }
          }
        }

      }
    }

    .subscribe {
      position: relative;

      .input-box {
        position: relative;
        height: 30px;
      }

      input {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 10px;
        border: 0;
        background-color: #dcdcdc;
        border-radius: 5px;
      }

      button {
        background-color: #ffe79e;
        height: 100%;
        position: absolute;
        right: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        span {
          padding: 0 5px;
          color: #333;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }

        &:hover {
          span {
            color: #666;
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #0c0c0c;
    padding: 25px 0;
    border-top: 2px solid #444;

    .logo {
      margin-right: 45px;
      width: 60px !important;
      img {
        width: 60px;
      }
    }

    .social-icon {
      display: inline-block;
      a {
        margin: 5px;
        i {
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: rgb(156, 156, 156);
          color: #fff;
          border-radius: 50%;
          font-size: 15px;
          text-align: center;
          transition: all .5s;
        }
      }
      .color-face {
        &:hover {
          background-color: #213553;
        }
      }

      .color-tw {
        &:hover {
          background-color: #3aa8db;
        }
      }

      .color-li {
        &:hover {
          background-color: #008bc2;
        }
      }

      .color-tube {
        &:hover {
          background-color: #f00;
        }
      }
    }

    .custom-block {
      display: inline-block;
      margin-left: 60px;
      width: 360px;
      img {
        width: 100%;
      }
    }

    address {
      display: inline-block;
      float: right;
      color: #777;
    }
  }
}
/* -------------------------------------------------------
                    Products
-------------------------------------------------------- */
/* ----------
    Products header
 ---------------------- */
.Product-header {
  background-color: $mainColor;
  ul {
    padding: 0;
    li {
      display: inline-block;
      color: #fff;
      padding: 8px 4px 4px 0;
      a {
        color: #fff;
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }

      i {
        padding-left: 4px;
        font-size: 12px;
      }
    }
  }
}

/* ----------
    Products header
 ---------------------- */
 .product-gallery {
   .proudct-gallery-item {
    position: relative;
    background-color: $backgroundColor;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    transition: all .8s;
    .proudct-gallery-item-box {
      position: relative;
      border-radius: 30px;
      .part-img {
        border-radius: 30px;
        overflow: hidden;
        img {
          border-radius: 30px;
          transition: all .8s;
        }
      }

      .overlay-item {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        background: rgba(0,0, 0, .7);
        border-radius: 0 0 30px 30px;
        text-align: center;
        transition: all .8s;

        h4 {
          color: #fff;
          font-family: 'Lobster', cursive;
          font-size: 25px;
          transition: all .8s;
        }
      }
    }

    &:hover {
      .overlay-item {
        h4 {
          color: $mainColor;
        }
      }
      img {
        transform: scale(1.2);
        opacity: .5;
      }
    }
   }
 }
/* -------------------------------------------------------
                   single Products
-------------------------------------------------------- */
.container-content {
  .side-bar {

    .block-category {
      border: 1px solid $borderColor;
      border-radius: 4px;
      margin: 7px 0 30px;
      .block-title {
        background-color: $backgroundColor;
        border-radius: 4px;
        padding: 10px 15px;
        h3 {
          margin: 0;
          font-size: 16px;
          cursor: pointer;

        }
      }

      .block-content {
        border-top: 1px solid $borderColor;
        padding: 10px 15px;
        ul {
          padding: 0;
          li {
            a {
              color: #444;
              font-size: 14px;
              &:hover {
                border-bottom: 1px solid #444;
              }
            }
            i {
              cursor: pointer;
              background-color: $mainColor;
              color: #fff;
              padding: 2px;
              margin-top: 5px;
              font-size: 10px;
            }
          }
        }

        .sub-product {
          li {
            padding: 5px 0 5px 15px;
          }
          .product {
            margin-left: 15px;
          }
        }
      }
    }

  }
}

.hide {
  width: 0;
  height: 0;
  transition: all .3s;
}
/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */


.contact {
  position: relative;
  background-color: #fff;

  #map {
    height: 380px;
  }

  .contact-info {
    padding: 30px 20px;

    .section-title {
      margin-bottom: 20px !important;
      h3 {
        margin-bottom: 0 !important;
      }
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 30px;
    }

    p {
      width: 80%;
      margin-bottom: 30px;
    }

    .details-part {
      margin-bottom: 30px;
      overflow: hidden;
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        background-color: $mainColor;
        text-align: center;
        vertical-align: top;
        color: #fff;
        font-size: 2rem;
      }

      .info {
        display: inline-block;
        h5 {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 0 1rem 1rem;
        }
      }
    }
  }

  .cont-form {
		padding: 30px 20px;

    .full-form {
    padding: 0 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    .form {
				.form-group {
          position: relative;

          label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
          }

					input {
            background-color: $backgroundColor;
            border: 1px solid $backgroundColor;
            border-radius: 4px;
						width: 100%;
						padding: 1rem;
						color: #000;
					}
				}

				textarea {
          background-color: $backgroundColor;
          border: 1px solid $backgroundColor;
          border-radius: 4px;
					max-height: 160px !important;
					min-height: 160px !important;
					padding: 1rem;
					box-shadow: none;
        }

        textarea:focus, input:focus {
          border: 1px solid $borderColor;
        }

				::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color: #000;
					opacity:  1;
				}

				:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:#000;
					opacity:  1;
				}

				::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:#000;
					opacity:  1;
				}

				:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: #000;
					opacity:  1;
				}

				::-ms-input-placeholder { /* Microsoft Edge */
					color: #000;
					opacity:  1;
				}

				::placeholder { /* Most modern browsers support this now. */
					color:#000;
					opacity:  1;
				}
      }
		}
	}
}
/* -------------------------------------------------------
                    Login
-------------------------------------------------------- */
.login {
  .account-login {
    background-color: $backgroundColor;
    border-top: 4px solid $mainColor;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    .content {
      position: relative;
      overflow: hidden;
      h4 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 15px;
      }
    }
    .new-account {
      .bbtn {
        position: absolute;
        bottom: 0;
        right: 15px;
        button {
          padding: 1rem 1.5rem;
        }
      }
    }

    .registered-users {
      label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      input {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 100%;
        padding: 1rem;
        color: #000;
        margin-bottom: 30px;
      }

      input:focus {
        border: 1px solid $borderColor;
      }

      a {
        display: inline-block;
      }

      .bbtn {
        position: absolute;
        bottom: 0;
        right: 15px;
        button {
          padding: 1rem 1.5rem;
        }
      }
    }
  }
}
/* -------------------------------------------------------
                    account
-------------------------------------------------------- */
.account {
  position: relative;
  .sidebar-account {
    position: relative;
    .block-content-account {
      ul {
        padding: 0;
        li {
          padding: 6px 5px 6px 0;
          border-bottom: 1px solid #ccc;
          a {
            color: #444;
            i {
              padding-right: 5px;
            }
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
  }

  .content-account {
    .block-title {
      h3 {
        color: $mainColor;
        font-size: 20px;
        font-weight: 400;
        margin-top: 0;
      }
    }

    .welcome-msg {
      background-color: $mainColor;
      padding: 15px;
      border-radius: 8px;
      p {
        color: #fff;
      }
    }

    .box-in {
      position: relative;
      background-color: $backgroundColor;
      border-radius: 8px;
      .box-title {
        background-color: #f5f5f5;
        border-radius: 8px 8px 0 0;
        padding: 5px 10px;
        h5 {
          display: inline-block;
        }

        a {
          color: $mainColor;
          font-size: 14px;
          margin-top: 10px;
        }
      }

      .box-in-content {
        padding: 20px 10px 50px;
        p {
          font-size: 15px;
          line-height: 1.8;
        }
        a {
          color: $mainColor;
          font-size: 14px;
          margin-top: 10px;
        }
        h6 {
          font-size: 16px;
        }
      }
    }
  }
  /* ---------- Order id ----------*/
  .order-id {
    .block-title {
      h3 {
        width: 48%;
        display: inline-block;
      }

      .link {
        width: 48%;
        display: inline-block;
        text-align: right;
        a {
          padding: 0 5px;
          color: $mainColor;
          &:hover {
            color: $darkColor;
            border-bottom: 1px solid $darkColor;
          }
        }
        a:last-child {
          border-left: 1px solid $mainColor;
        }
      }
    }

    .item-order {
      ul {
        padding: 0;
        li {
          border: 1px solid #ccc;
          width: 100%;
          div {
            display: inline-block;
          }

          .product-name {
            width: 40%;
          }

          .sku {
            width: 15%;
          }

          .price {
            width: 15%;
          }

          .qty {
            width: 15%;
          }
        }

        .head {
          background-color: $backgroundColor;
          padding: 10px 5px;
        }

        .content {
          padding: 0 5px;

          div {
            display: inline-block;
            border-right: 1px solid #ccc;
            padding: 10px 5px;
          }

          div:last-child {
            border: none;
          }
        }

        .content-2 {
          text-align: right;
          div {
            padding: 10px 5px;
          }
          .qty {
            width: auto;
            p {
              display: block;
            }
          }

          .subtotal {
            width: 18%;
            text-align: center;
          }
        }
      }
    }
  }
}
/* -------------------------------------------------------
                    account Information page
-------------------------------------------------------- */
.content-account {
  .account-information {
    background-color: $backgroundColor;
    border-top: 4px solid $mainColor;
    border-radius: 8px;
    padding: 30px;
    overflow: hidden;

    .box-title {
      h5 {
        color: $mainColor;
        font-size: 18px;
        font-weight: 400;
      }
    }

    label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    input {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      width: 100%;
      padding: .8rem;
      color: #000;
      margin-bottom: 30px;
    }

    input:focus {
      border: 1px solid $borderColor;
    }

    .gender {
      label {
        display: block;
      }

      input {
        display: inline-block;
        width: auto !important;
        margin: 5px;
      }
    }

    .control {
      input {
        display: inline-block;
        width: auto !important;
        margin: 5px;
      }
    }

    .buttons-set {
      a {
        color: $mainColor;
        font-size: 14px;
        i {
          padding: 5px;
        }
        &:hover {
          color: $darkColor;
          border-bottom: 1px solid $darkColor;
        }
      }
      .button {
        border-radius: 4px;
      }
    }
  }

  .city-box {
    input {
      width: 50% !important;
      display: block;
      box-shadow: none;
    }
  }
  .country-box {
    label {
      display: block;
    }
    select {
      display: block;
      width: 50%;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: .8rem;
      color: #000;
      margin-bottom: 30px;
    }
  }
  /* ------- wish list ----*/

  .wishlist {

    ul {
      padding: 0;
      li {
        width: 100%;
        display: table;
        padding: 15px;
        div {
          display: table-cell;
          h4 {
            display: inline-block;
          }
        }

        .product-name {
          width: 40%;
          img {
            width: 100px;
            border-radius: 4px;
            margin-right: 5px;
          }
        }

        .product-price {
          width: 20%;
        }

        .product-add {
          width: 25%;
        }
        .product-remove {
          width: 15%;
          text-align: center;
          transition: all .3s;
          i {
            cursor: pointer;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }

      .product-item {
        background-color: $backgroundColor;
        margin-bottom: 30px;

        .product-price {
          h4 {
            color: $mainColor;
          }
        }
      }
    }


    .buttons-set {
      a {
        color: $mainColor;
        font-size: 14px;
        i {
          padding: 5px;
        }
        &:hover {
          color: $darkColor;
          border-bottom: 1px solid $darkColor;
        }
      }
      .button {
        border-radius: 4px;
      }
    }
  }

  .content-account-subscribe {
    background-color: $backgroundColor;
    border-top: 4px solid $mainColor;
    border-radius: 8px;
    padding: 30px;
    overflow: hidden;

    .box-title {
      h5 {
        color: $mainColor;
        font-size: 18px;
        font-weight: 400;
      }
    }

    input {
      display: inline-block;
      margin: 5px;
    }

    label {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
    }
    .button {
      border-radius: 4px;
    }

    .buttons-set {
      a {
        color: $mainColor;
        font-size: 14px;
        i {
          padding: 5px;
        }
        &:hover {
          color: $darkColor;
          border-bottom: 1px solid $darkColor;
        }
      }
      .button {
        border-radius: 4px;
      }
    }
  }

  /* ------- Order ----*/
  .order {
    ul {
      padding: 0;
      li {
        width: 100%;
        div {
          display: inline-block;
        }

        .order {
          width: 14%;
        }

        .data {
          width: 14%;
        }

        .ship {
          width: 25%;
        }

        .order-total {
          width: 14%;
        }
        .view-order {
          width: 16%;
        }

        div:last-child {
          border: none;
        }
      }
      .head {
        background-color: $backgroundColor;
        border: 1px solid #ccc;
        padding: 10px 5px;
      }

      .content {
        border: 1px solid #ccc;
        padding: 0 5px;
        div {
          padding: 10px 0;
          border-right: 1px solid #ccc;
        }
      }
    }
  }

}
/* -------------------------------------------------------
                    details product
-------------------------------------------------------- */
.details-product {
  .item-details-product {
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px;
    transition: transform .5s;
    .part-img {
      position: relative;
      border-radius: 15px 15px 0 0;

      overflow: hidden;
      img {
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .part-info {
      .price {
        h5 {
          color: $mainColor;
          font-size: 18px;
          font-weight: 600;

        }
      }

      h4 {
        font-size: 16px;
      }

      .ratings {
        position: relative;
        margin: auto;
        text-align: center;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 60%;
          width: 100%;
          height: 1px;
          background: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.8),transparent);
        }
        .rat {
          display: inline-block;
          background-color: #fff;
          position: relative;
          padding: 0 10px;
          z-index: 1;
          span {
            background-color: #fff;
            color: #ccc;
            font-size: 1.2rem;
          }
        }
        .right {
          color: #ffc600;
        }
      }

      .hover-area {
        position: relative;
        transition: all .8s;
        bottom: -50%;
        opacity: 0;
        .button {
          margin-top: 15px;
          border-radius: 4px;
        }

        .first {
          position: relative;
          transition: all .8s;
          bottom: -100%;
        }
      }
    }
    &:hover {
      border: 3px solid $backgroundColor;
      img {
        transform: scale(1.2);
      }

      .hover-area {
        bottom: 0;
        opacity: 1;
        .first {
          bottom: 0;
        }
      }

    }
  }
}
/* -------------------------------------------------------
                    details product box
-------------------------------------------------------- */
.main-product {

  .product-img-box {
    position: relative;
    .flexslider {
      li {
        border: 1px solid $backgroundColor;
        border-radius: 8px;
        padding: 10px 5px 0 0;
        img {
          border: 1px solid $backgroundColor;
          border-radius: 8px;
        }
      }

      li:last-child {
        padding-right: 0;
      }
      .flex-viewport {
        li {
          padding: 0 !important;
        }
      }
    }
  }


  .product-shop {
    .sub-title {
      h3 {
        font-size: 22px;
      }
    }

    .ratings {
      position: relative;
      .rat {
        display: inline-block;
        background-color: #fff;
        position: relative;
        padding: 0 10px;
        z-index: 1;
        span {
          background-color: #fff;
          color: #ccc;
          font-size: 1.2rem;
        }
      }
      .right {
        color: #ffc600;
      }
    }

    .de {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    .product-info {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      h5 {
        font-size: 18px;
        span {
          font-size: 16px;
        }
      }

      .price-box {
        margin: 10px 0;
        h4 {
          color: $mainColor;
          font-size: 30px;
          font-weight: 600;
        }
      }

    }

    .add-to-box {
      .button {
        margin-top: 15px;
        border-radius: 4px;
      }
    }
  }
}
/* -------------------------------------------------------
                    Services
-------------------------------------------------------- */
.services {
  blockquote {
    background-color: $backgroundColor;
    border-left: 4px solid $mainColor !important;
  }
}
/* -------------------------------------------------------
                    Career
-------------------------------------------------------- */
.career {
  .listing-job {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .datatables_length {
    label{
      font-size: 14px;
      font-weight: 400;
      select {
        display: inline-block;
        background-color: $backgroundColor;
        border: 1px solid $backgroundColor;
        padding: 2px 10px;
      }
    }
  }

  .dataTables_filter {
    label{
      font-size: 14px;
      font-weight: 400;
    }

    input {
      background-color: $backgroundColor;
      border: 1px solid $backgroundColor;
      border-radius: 4px;
      color: #000;
    }
  }

  .table {
    thead {
      border: 1px solid #ccc;
      .tr-head {
        display: flex;
        vertical-align: middle;
        th {
          flex-grow: 1;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          border-right: 1px solid #ccc;
          vertical-align: middle;
          i {
            vertical-align: middle;
            line-height: 1.6;
            float: right;
          }
        }
      }

      .odd {
        background-color: $backgroundColor;
        text-align: center;
        margin: auto;
      }
    }
  }
  .pagination-ta {
    ul {
      padding: 0;
      li {
        display: inline-block;
        background-color: $backgroundColor;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 10px;
        margin: 0;
        a {
          font-size: 14px;
          color: #444;
        }
      }
    }
  }
}
/* -------------------------------------------------------
                    Career-v2
-------------------------------------------------------- */
.listing-job-v2 {
  .job-item {
    background-color: $backgroundColor;
    border-left: 4px solid $mainColor;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    vertical-align: middle;
    padding: 20px;
    margin-top: 30px;
    transition: all .2s linear;
    a {
      h4 {
        line-height: 1.8;
        transition: all .1s linear;
      }
      &:hover {
        h4 {
          color: $mainColor;
        }
      }

      .location {
        i {
          color: $borderColor;
          padding-right: 10px;
        }
      }
    }
    &:hover {
      box-shadow: 0px 9px 17px rgba(0, 0, 0, 0.12);
    }
  }
}
/* -------------------------------------------------------
                    Shopping cart
-------------------------------------------------------- */
.shopping-cart {
  .section-title {
    overflow: hidden;
    h3 {
      display: inline-block;
    }
    button {
      margin-top: 20px;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .messages {
    background-color: #fcf8e3;
    border-radius: 8px;
    padding: 20px 15px;
    p {
      font-size: 13px;
      margin: 0;
    }
  }

  .sidebar {
    padding: 0;
    border-radius: 8px;
    .cart-totals {
      border: 1px solid $backgroundColor;
      border-radius: 8px;
      .cart-title {
        background-color: $backgroundColor;
        padding: 15px;
        border-radius: 8px 8px 0 0;
        h3 {
          margin: 0;
          font-size: 16px;
        }
      }
      .item {
        margin: 15px;
        padding: 10px 0;
        border-bottom: 1px solid $backgroundColor;
        h4 {
          width: 60%;
          margin: 0;
          display: inline-block;
          font-size: 13px;
          font-weight: 400;
          line-height: 1.6;
        }
        span {
          font-size: 13px;
          float: right;
        }
      }

      .bttn {
        margin: auto;
        text-align: center;
        padding: 15px;
        button {
          width: 100%;
          border-radius: 8px;
        }
      }
    }
  }

  .shopping-content {
    position: relative;
    ul {
      padding: 0;
      li {
        width: 100%;

        span {
          vertical-align: middle;
          padding: 8px;
        }
        span.price {
          float: right;
          margin-right: 100px;
        }
        .qty {
          display: inline-block;
          width: 150px;
          padding: 15px;
        }
      }
      .item {
        background-color: $backgroundColor;
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;

        div {
          padding: 15px 15px 10px;
          display: inline-block;
        }

        .pro-item {
          img {
            width: 80px;
            border-radius: 8px;
            padding-right: 5px;
          }
        }
        .input-number {
          width: 50px;
          padding: 0 12px;
          vertical-align: top;
          text-align: center;
          outline: none;
        }
        .input-number,
        .input-number-decrement,
        .input-number-increment {
          border: 1px solid #ccc;
          height: 35px;
          user-select: none;
        }

        .input-number-decrement,
        .input-number-increment {
          display: inline-block ;
          background: #f1f1f1;
          color: #444;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }

        .input-number-decrement {
          border-right: none ;
          border-radius: 4px 0 0 4px;
        }

        .input-number-increment {
          border-left: none;
          border-radius: 0 4px 4px 0;
        }

        .popbtn {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          display: inline-block;
          float: right;
          height: 100%;
          text-align: center;
          i {
            cursor: pointer;
            padding: 0 8px;

          }
        }

        .price {
          display: inline-block;
          color: $mainColor;
          margin-right: 90px;
          font-size: 20px;
          font-weight: 600;
          float: right;
        }
      }
    }

    .total {
      display: inline-block;
      h5 {
        font-size: 20px;
        span {
          color: $mainColor;
          padding-left: 5px;
        }
      }
    }

    .bttn {
      display: inline-block;
      margin-top: 4px;
      button {
        padding: 10px 15px;
        border-radius: 8px;
      }
    }

  }

}
/* -------------------------------------------------------
                    check out
-------------------------------------------------------- */
.checkout {
  position: relative;

  .block-title {
    border-bottom: 1px solid #ccc;
  }

  .sub-title-check {
    margin-bottom: 30px;
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    span {
      color: #ff054a;
    }
  }

  .blck-info {

    .box-block {

      input {
        background-color: $backgroundColor;
        border: 1px solid $backgroundColor;
        border-radius: 4px;
        width: 100%;
        padding: .8rem;
        color: #000;
        margin-bottom: 30px;
      }
    }

    .gender {
      label {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      input {
        display: inline-block;
        width: auto !important;
        margin: 5px;
      }
    }

    .country-box {
      label {
        display: block;
      }
      select {
        display: block;
        width: 100%;
        background-color: $backgroundColor;
        border: 1px solid $backgroundColor;
        border-radius: 4px;
        padding: .8rem;
        color: #000;
        margin-bottom: 30px;
      }
    }
  }

  .block-sign {

    input {
      display: inline-block;
      width: auto !important;
      margin-bottom: 15px;
      padding-right: 5px;
    }

    label {
      display: inline-block;
      padding-left: 10px;
    }

    ul {
      padding: 0;
      li {
        width: 100%;
        div {
          display: inline-block;
        }
        .product-name {
          width: 55%;
        }
        .price {
          width: 15%;
        }
        .Qty {
          width: 10%;
        }

        .subtotal {
          width: 15%;
        }
      }

      .title {
        background-color: $backgroundColor;
        padding: 10px 5px;
        margin-bottom: 20px;
        .product-name {
        }
        .price {
        }
        .Qty {
        }

      }

      .content {
        border-bottom: 1px solid #ccc;
        padding: 10px 5px;
        .product-name {
          img {
            width: 80px;
            display: inline-block;
            border-radius: 4px;
          }

          h6 {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }

      .first {
        border-bottom: 1px solid #ccc;
        padding: 10px 5px;
        text-align: right;
        .subtotal-2 {
        }

        .subtotal {
          width: 22%;
          text-align: center;
        }
      }

      .first-2 {
        div {
          font-weight: 600;
        }
      }
    }

    .button {
      width: 100%;
    }
  }
}
/* -------------------------------------------------------
                    Classes To Extend
-------------------------------------------------------- */
%bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}
