
/* -------------------------------------------------------
                     phone & tablet
-------------------------------------------------------- */

@media (max-width: 767px) {

    .xs-mb-50{margin-bottom: 50px;}

    .xs-mb-70{margin-bottom: 70px !important;}

    .product .item .part-img {
      width: 300px !important;
    }

    .footer {

      .block {
        margin-bottom: 30px;
      }

      .footer-bottom {
        margin: auto !important;
        text-align: center !important;
        .custom-block {
          display: block !important;
          margin: 30px auto !important;
        }
      }
    }

    .wishlist {
      ul {
        li {
          padding: 5px !important;
          h4 {
            font-size: 14px;
          }
        }
        .product-name {
          width: 30% !important;
          img {
            width: 100px;
            border-radius: 4px;
            margin-right: 5px;
          }
          h4 {
            font-size: 14px;
          }
        }
      }
    }
    .shopping-cart {
      .shopping-content {
        ul {
          .qty {
            padding: 5px !important;
          }
          .item {
            div {
              padding: 10px 10px 5px !important;
            }

            .pro-item {
              img {
                width: 60px !important;
              }
            }

            .price {
              font-size: 16px !important;
              margin-right: 70px !important;
            }
          }
        }
      }
    }

    .content-account .order ul {
      overflow: hidden;
      li {
        font-size: 12px;
      }
    }
    .account .order-id .item-order ul li .product-name {
      width: 35% !important;
    }
    .account .order-id .item-order ul .content div {
      font-size: 12px;
    }

}

@media (max-width: 991px){

    .sm-mb-50{margin-bottom: 50px !important;}

    .sm-mb-80{margin-bottom: 80px !important;}

    .nav-header {
      .lest {
        display: none !important;
      }
      .lest-sm {
        display: inline-block !important;
      }
    }

    nav {
      .navbar-brand {
        position: static !important;
        padding: 0 15px;
        border: none !important;
        width: 60px !important;
        height: 30px !important;
        img {
          width: 100%;
          background-color: #fff;
        }
      }
    }

    ul.dropdown-menu.megamenu-content .col-menu {
      text-align: left !important;
      margin: auto;
      a {
        img {
          display: inline-block !important;
          width: 25px !important;
        }
      }
    }

    .footer {

      .footer-bottom {
        address {
          margin: 15px auto !important;
          float: none !important;
          text-align: right;
          font-size: 14px !important;
        }
      }
    }

    .login {
      .account-login {
        .new-account {
          .bbtn {
            position: static !important;
            margin-bottom: 30px;
          }
        }
      }
    }

    .wishlist {
      ul {
        li {
          padding: 10px !important;
        }
      }
    }

    .sidebar-account {
      margin-bottom: 30px !important;
    }
}
